button{
    border-radius: 2rem;
    min-height: 58px;
    color: $white;
    font-size: 16px;
    font-weight: 900;
    margin-top: 32px;
    border: none;
}

.btn_dl{
    background-color:$soft-blue ;
    width: 193px;
    margin-right: 16px;

}

.btn_question{
    background-color:$purple ;
    width: 139px;
}