button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    min-height: 58px;
    color: $white;
    font-size: 16px;
    font-weight: 900;
    margin-top: 32px;
    border: none;
}

.btn_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_dl{
    background-color:$soft-blue ;
    width: 192px;
}

.btn_question{
    background-color:$purple ;
    width: 109px;
    
}

.btn_dl_footer{
    background-color:$purple ;
    width: 193px;
    margin-right: 16px;
    z-index: 15;
}