.logo{
    display: flex;
    justify-content: center;
    & img{
        margin-top: 48px;
        margin-bottom: 54px;
    }
}

.header_block{
    display: flex;
    justify-content: center;
    & img{
        width: 199px;
        
    }
}

.header_img_right{
    margin-left: 1rem;
}

.header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.design1{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}