.logo{
    display: flex;
    justify-content: center;
    & img{
        margin-top: 48px;
        margin-bottom: 54px;
    }
}

.header_block{
    display: flex;
    justify-content: center;
    & img{
        width: 199px;
        
    }
}

.header_img_right{
    margin-left: 1rem;
}

.header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    & h1{
        width: 270px;
        margin-top: 48px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #28283D;
    }
    & p{
        width: 327px;
        margin-top: 24px;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #87879D;
    }
}


.design1{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}