$soft-blue: hsl(192, 37%, 48%);
$purple: hsl(268, 34%, 53%);
$black: hsl(240, 21%, 20%);
$grey: hsl(240, 10%, 57%);
$blue: hsl(192, 90%, 77%);
$soft-purple: hsl(268, 100%, 86%);
$white: hsl(0, 0%, 98%);

//"Red Hat Display", sans-serif;