@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  margin-top: 48px;
  margin-bottom: 54px;
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_block img {
  width: 199px;
}

.header_img_right {
  margin-left: 1rem;
}

.header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header_text h1 {
  width: 270px;
  margin-top: 48px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #28283D;
}

.header_text p {
  width: 327px;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
}

.design1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  min-height: 58px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 900;
  margin-top: 32px;
  border: none;
}

.btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_dl {
  background-color: #4d96a8;
  width: 192px;
}

.btn_dl span {
  color: #8FE3F9;
}

.btn_question {
  background-color: #845eb0;
  width: 139px;
}

.btn_dl_footer {
  background-color: #845eb0;
  width: 193px;
  margin-right: 16px;
  z-index: 15;
}

.btn_dl_footer span {
  color: #D9B8FF;
}

span {
  margin-left: 4px;
}

.main_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.main_pic img {
  width: 150px;
  border-radius: 1rem;
}

.main_img:nth-child(2) {
  margin-top: 64px;
}

.main_img:nth-child(1) {
  margin-top: 64px;
}

.main_text h3 {
  color: #4D96A9;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 64px;
}

.main_text h2 {
  color: #28283D;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  width: 330px;
  text-align: center;
  margin-top: 24px;
}

.main_text p {
  width: 321px;
  min-height: 154px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 32px;
  color: #87879D;
  margin-bottom: 148px;
}

.main_text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer {
  background-repeat: no-repeat;
}

.footer_block {
  background: url(/starter-code/assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-width: 400px;
  min-height: 428px;
  position: relative;
}

.footer_block h2 {
  position: relative;
  width: 375px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #fafafa;
  margin-top: 92px;
}

.footer_block p {
  margin-top: 24px;
  color: #fafafa;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 327px;
  z-index: 1;
  margin-bottom: 32px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue {
  width: 100%;
  min-height: 428px;
  background-color: #4d96a8;
  opacity: 85%;
  position: absolute;
}

.blue::before {
  content: "";
  display: block;
  position: absolute;
  height: 140px;
  width: 56px;
  background-image: url(/starter-code/assets/desktop/design2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  top: -10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: #fafafa;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
}
/*# sourceMappingURL=general.css.map */